* {
    box-sizing: border-box;
}
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    font-family: 'Gowun Dodum', sans-serif !important;
}
.body-container {
    background-color: #eff3fb;
    align-items: center;
    box-sizing: border-box;
    min-height: 100vh;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    max-height: 1200px;
    margin: 0 auto;
}
.content {
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.text-content {
    flex: 1;
    padding: 20px;
}
.text-c {
    text-align: center;
    margin-bottom: 20px;
}
.text-c .label {
    color: #ff3366;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}
.text-content p {
    font-size: 16px;
    margin: 0 0 20px 0;
}
.h1-box h1 {
    font-size: 40px;
    margin: 0 0 50px 0;
    font-family: "Black Han Sans" !important;
}
.image-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-content img {
    width: auto; /* 수정: width를 auto로 설정 */
    height: auto; /* 높이를 auto로 설정하여 비율을 유지 */
    max-width: 100%; /* 이미지의 최대 너비를 100%로 설정 */
    max-height: 100%; /* 이미지의 최대 높이를 100%로 설정 */
    object-fit: contain; /* 비율을 유지하면서 컨테이너에 맞추기 */
}
.content-container {
    padding: 10px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.main-prev, .main-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.main-next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.main-prev:hover, .main-next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.options {
    display: flex;
    justify-content: space-around;
    text-align: center;
    /* margin-top: 40px; */
}

.option {
    flex: 1;
    padding: 20px;
}
.option img {
    width: 80px;
    height: auto;
    margin-bottom: 20px;
}

.option h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.option p {
    font-size: 14px;
    color: #555;
}

.popup-stores {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 40px;
}

.store {
    width: 30%;
    margin-bottom: 20px;
    text-align: center;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: white;
}

.store img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.store-details h2 {
    font-size: 18px;
    margin-bottom: 5px;
}

.store-details p {
    font-size: 14px;
    color: #555;
}
.content {
    display: none;
}
.content.active {
    display: flex;
}