<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Board</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap">
    <link rel="stylesheet" href="/css/board.css">
</head>
<body>
<div class="container">
    <div class="header-list">
        <ul>
            <li><a href="/board/boardList">BoardList</a></li>
            <li th:text="${detail} == null ? 'All' : ${detail}"></li>
        </ul>
    </div>
    <div class="board-container">
        <div th:each="board, iterStat : ${list}" class="board-item">
            <img th:src="${imgList[iterStat.index]}" alt="image">
            <div class="details">
                <h5 class="title"><a th:href="'/board/' + ${board.id}" th:text="${board.subject}"></a></h5>
                <h6 class="price" th:text="${board.start_date} + ' ~ ' + ${board.end_date}"></h6>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const titles = document.querySelectorAll(".title");
        titles.forEach(title => {
            let fontSize = parseInt(window.getComputedStyle(title).fontSize);
            while (title.scrollWidth > title.clientWidth && fontSize > 10) {
                fontSize--;
                title.style.fontSize = fontSize + "px";
            }
        });
    });
</script>
</body>
</html>
