<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Test</title>
</head>
<body oncontextmenu="return false">
<div th:each="url : ${img_url}">
<!--    <img th:src="'data:image/png;base64,' + ${image}" />-->
    <img th:src="${url}">
</div>
<!--테스트용-->
<!--<p th:text="${board.image_name}"></p>-->
<!--<p th:text="${board.image_cnt}"></p>-->

<p th:text="'팝업 이름: ' + ${board.subject}"></p>
<p th:text="'팝업 소개: ' + ${board.description}"></p>
<p th:text="'장소: ' + ${board.location}"></p>
<p th:text="'날짜: ' + ${board.start_date} + ' ~ ' + ${board.end_date}"></p>
<p th:text="'브랜드: ' + ${board.brand}"></p>
<p th:text="'티켓 필요: ' + (${board.ticket} ? 'Yes' : 'No')"></p>
<p th:text="'링크: ' + ${board.link}"></p>
</body>
</html>
