<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Board</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap">
    <link rel="stylesheet" href="/css/board.css">
</head>
<body>
<div class="container">
    <div class="header-list">
        <ul>
            <li><a href="/board/boardList">BoardList</a></li>
            <li th:text="${board.id}"></li>
        </ul>
    </div>
    <div class="content-wrapper">
        <div class="slideshow-container">
            <div th:each="url, stat : ${img_url}">
                <img th:src="${url}" alt="image" class="slideshow-image" th:classappend="${stat.index == 0} ? ' active' : ''">
            </div>
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        <div class="content">
            <h1 th:text="${board.subject}"></h1>
            <p th:text="${board.description}"></p>
            <div class="details">
                <ul>
                    <li>
                        <strong>장소: </strong>
                        <span th:text="${board.location}"></span>
                    </li>
                    <li>
                        <strong>날짜: </strong>
                        <span th:text="(${board.start_date} + ' ~ ' + ${board.end_date})"></span>
                    </li>
                    <li>
                        <strong>브랜드: </strong>
                        <span th:text="${board.brand}"></span>
                    </li>
                    <li>
                        <strong>티켓 필요: </strong>
                        <span th:text="${board.ticket} ? 'Yes' : 'No'"></span>
                    </li>
                    <li>
                        <strong>링크: </strong>
                        <span>
                            <a th:href="${board.link}" th:text="${board.link}"></a>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script src="/js/whereup-boardImgNext.js"></script>
</body>
</html>
