<!DOCTYPE html>
<html lang="en" xmlns:sec="">
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/login}">로그인</a>
            <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/logout}">로그아웃</a>
        </li>
    </ul>
</div>
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
</head>
<body>
<hr>
    <th:block sec:authorize="isAuthenticated()">
        <span sec:authentication="principal"></span>
    </th:block>

</body>
</html>


</html>
