<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Popup Store</title>
    <!-- Google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/headerAndFooter.css">

</head>
<body>
리<header th:replace="~{fragments/header::header}"></header>
<div class="body-container">
    <main>
        <div class="main-container">
            <section class="content" th:each="board: ${summariesTop}" th:id="'section-' + ${board.id}">
                <div class="text-content">
                    <div class="text-c">
                        <span class="label">POP-UP STORE</span>
                    </div>
                    <div class="h1-box">
                        <h1 th:text="${board.subject}"></h1>
                    </div>
                    <p th:text="${board.description}"></p>
                    <p th:text="${board.start_date} + ' ~ ' + ${board.end_date}"></p>
                </div>
                <div class="image-content">
                    <img th:src="${board.imageUrl}">
                </div>
            </section>
            <a class="main-prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="main-next" onclick="plusSlides(1)">&#10095;</a>
        </div>
    </main>
    <!-- MENU ICON Section -->
    <div class="content-container">
        <section class="options">
            <div class="option" onclick="location.href='/board/boardList?page=1';">
                <img src="/img/icon/map.png" alt="Location Icon">
                <h2>지역별 팝업 스토어 보기</h2>
                <p>원하는 지역에 팝업스토어를 확인해보세요 :0</p>
            </div>
            <div class="option" onclick="location.href='/post/postList?page=1';">
                <img src="/img/icon/review.png" alt="Review Icon">
                <h2>팝업스토어 리뷰 보기</h2>
                <p>사람들의 다양한 후기를 만나보세요</p>
            </div>
        </section>

    </div>
    <!-- Popup Stores Section -->
</div>
<footer th:replace="~{fragments/footer::footer}"></footer>
</body>
<script>
    let currentIndex = 0;

    function showSlide(index) {
        let slides = document.querySelectorAll('.content');
        if (index >= slides.length) {
            currentIndex = 0;
        } else if (index < 0) {
            currentIndex = slides.length - 1;
        } else {
            currentIndex = index;
        }
        slides.forEach((slide, i) => {
            slide.classList.toggle('active', i === currentIndex);
        });
    }

    function plusSlides(n) {
        showSlide(currentIndex + n);
    }

    document.addEventListener('DOMContentLoaded', () => {
        showSlide(currentIndex);
    });

</script>

</html>
