<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>로그인</title>
  <link href="/css/origin.css" rel="stylesheet"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
<div id="root">
  <header class="header-global">

  </header>
  <main>
    <section class="section section-shaped section-lg">
      <div class="shape bg-gradient-default">
      </div>
      <div class="pt-lg-7 container">
        <div class="justify-content-center row">
          <div class="col-lg-5">
            <div class="bg-secondary shadow border-0 card">
              <div class="bg-white pb-5 card-header">
                <div class="text-muted  text-center mb-3"><small>Login with</small></div>
                <div class="text-center">
                  <a href="/oauth2/authorization/naver" class="btn-neutral btn-icon mr-4 btn btn-default">
                    <span class="btn-inner--icon mr-1"> <img src="/img/naver.png"></span>
                    <span class="btn-inner--text">NAVER</span>
                  </a>
                  <a href="/oauth2/authorization/kakao" class="btn-neutral btn-icon mr-4 btn btn-default">
                    <span class="btn-inner--icon mr-1"><img src="/img/kakao.png"></span>
                    <span class="btn-inner--text">KAKAO</span>
                  </a>
                </div>
              </div>
              <div class="px-lg-5 py-lg-5 card-body">
                <div class="text-center text-muted mb-4"><small>계정으로 로그인하기</small>
                </div>
                <form th:action="@{/login}" method="post">
                  <div class="mb-3 form-group">
                    <div class="input-group-alternative input-group">
                      <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="fa-solid fa-envelope"></i>
                            </span>
                      </div>
                      <!-- springsecurity의 경우 username/password로 이용 -->
                      <input type="text" id ="username" name= "username" placeholder="Email" class="form-control">

                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group-alternative input-group">
                      <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="fa-solid fa-unlock"></i></span>
                      </div>
                      <input type="password" id="password" name="password" placeholder="Password" autocomplete="off"  class="form-control">
                    </div>
                  </div>

                  <div class="text-center">
                    <a href ="/signup"><small>회원가입 >> </small></a><br>
                    <button type="submit" class="my-4 btn btn-primary"> 로그인 </button></div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>
</body>
</html>