<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>new post</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
</head>
<body>
<form method="post" action="/post/newPost">
    제목: <input type="text" name="title" id="title">
    작성자: <input type="text" name="author" id="author">
    <br>
    내용:
    <br>
    <textarea name="content" id="content"></textarea>
    <input type="submit" value="submit">
</form>
<input type="file" id="imageUpload" style="display:none" accept="image/*">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<!--<script src="../static/js/simplemdeCustom.js"></script>-->
<script src="/js/simplemdeCustom.js"></script>
</body>
</html>
