<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PostList</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap">
    <link rel="stylesheet" href="/css/post.css">
</head>
<body>
<div class="container">
    <div class="header-list">
        <ul>
            <li><a href="/post/postList">PostList</a></li>
            <li th:text="${detail} == null ? 'All' : ${detail}"></li>
        </ul>

        <div class="btn-container" th:if="${user} != null">
            <input type="button" value="신규작성" onclick="location.href='/post/newPost'">
        </div>
    </div>
    <div class="post-container">
        <div th:each="post : ${list}" class="post-item">
            <img th:src="${post.thumbnail != null ? post.thumbnail : 'https://via.placeholder.com/100x100.jpg'}">
            <div class="details">
                <h5 class="title"><a th:href="'/post/' + ${post.id}" th:text="${post.title}"></a></h5>
                <h6 class="price" th:text="${post.author}"></h6>
                <h6 class="price" th:text="${post.created_date}"></h6>
            </div>
        </div>
    </div>
</div>
</body>
</html>
