<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>post</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap">
    <link rel="stylesheet" href="/css/boardAndPost.css">
    <link rel="stylesheet" href="/css/post.css">
    <link rel="stylesheet" href="/css/headerAndFooter.css">
</head>

<body>
<header th:replace="fragments/header::header"></header>
<div class="container">
    <div class="header-list">
        <ul>
            <li><a href="/post/postList">postList</a></li>
            <li th:text="${post.id}"></li>
        </ul>
        <div class="btn-container" th:if="${user} != null and ${user} == ${post.author}">
            <form method="post" th:action="'/post/updatePost/' + ${post.id}">
                <button type="submit">수정</button>
            </form>
            <form method="post" th:action="'/post/deletePost/' + ${post.id}" onsubmit="return confirmDeletion();">
                <button type="submit">삭제</button>
            </form>
        </div>
    </div>

    <div class="post-details">
        <h1 th:text="${post.title}"></h1>
        <ul>
            <li>
                <strong>작성자: </strong>
                <span th:text="${post.author}"></span>
            </li>
            <li>
                <strong>작성일: </strong>
                <span th:text="${post.created_date}"></span>
            </li>
            <li>
                <strong>수정일: </strong>
                <span th:text="${post.updated_date}"></span>
            </li>
            <li>
                <strong>내용: </strong>
                <div class="post-content" th:utext="${post.content}"></div>
            </li>
        </ul>
    </div>

    <div class="comments">
        <h3>댓글</h3>
        <div th:if="${user} != null" id="add-form" class="comment-item">
            <form id="commentForm" action="/post/comment/add" method="post">
                <input type="hidden" id="postId" name="postId" th:value="${post.id}">
                <textarea id="text" name="text"></textarea>
                <div class="form-buttons">
                    <input type="submit" value="제출">
                </div>
            </form>
        </div>
        <div th:each="comment, iterStat : ${comments}" class="comment-item">
            <div class="comment-item-header">
                <div>
                    <a th:text="${comment.user}"></a>
                    <a th:text="${comment.created_date}"></a>
                    <a th:text="${comment.updated_date}"></a>
                </div>
                <div th:if="${comment.user} == ${user}" th:id="${comment.id} + '-btn-area'" class="btn-area">
                    <a href="javascript:void(0)" th:id="${comment.id} + '-edit'" th:attr="onclick=|editComment(${comment.id})|">수정</a>
                    <a th:href="'/post/comment/delete/' + ${comment.id}" th:id="${comment.id} + '-delete'" onclick="return confirmDeletion();">삭제</a>
                </div>
            </div>
            <div th:id="${comment.id} + '-comment-area'">
                <p th:text="${comment.text}" th:id="${comment.id} + '-text'"></p>
            </div>
            <div th:id="${comment.id} + '-edit-area'" style="display:none;">
                <form id="editForm-${comment.id}" action="/post/comment/edit" method="post">
                    <input type="hidden" th:id="${comment.id} + '-id'" name="commentId" th:value="${comment.id}">
                    <textarea th:id="${comment.id} + '-textarea'" name="commentText"></textarea>
                    <div class="form-buttons">
                        <input type="submit" value="제출">
                        <input type="button" value="취소" th:attr="onclick=|cancelComment(${comment.id})|">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments/footer::footer"></footer>
<script src="/js/whereup-postWithcomment.js"></script>
</body>
</html>
