<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Update Post</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/css/boardAndPost.css">
    <link rel="stylesheet" href="/css/post.css">
    <link rel="stylesheet" href="/css/headerAndFooter.css">
</head>
<body>
<header th:replace="~{fragments/header::header}"></header>
<div class="container">
    <div class="header-list">
        <ul>
            <li><a href="/postList">PostList</a></li>
            <li>updatePost</li>
        </ul>
    </div>
    <form id="postForm" method="post" action="/post/updatePost" class="post-form">
        <input type="hidden" name="id" id="id" th:value="${post.id}">
        <input type="hidden" name="created_date" id="created_date" th:value="${post.created_date}">
        <div>
            <span>제목: </span>
            <input type="text" name="title" id="title" th:value="${post.title}">
        </div>
        <div>
            <span>작성자: </span>
            <input type="text" name="author" id="author" th:value="${post.author}" readonly>
        </div>
        <div>
            <span>브랜드: </span>
            <select th:name="brand">
                <option th:each="brand : ${brandList}"
                        th:value="${brand}"
                        th:text="${brand}"
                        th:selected="${brand} == ${post.brand} ? 'selected' : null"></option>
            </select>
        </div>
        <hr class="new-post-hr">
        <div>
            <span>내용: </span>
            <textarea class="simplemde" name="content" id="content" th:text="${post.content}"></textarea>
        </div>
        <input type="file" id="imageUpload" style="display:none" accept="image/*">
        <input type="submit" value="수정" class="modify-btn">
    </form>
</div>
<footer th:replace="~{fragments/footer::footer}"></footer>
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script src="/js/whereup-simplemdeCustom.js"></script>
<script src="/js/whereup-postValidCheck.js"></script>
</body>
</html>
